<form method="post" action="{{ path('admin_programmation_circuit_delete', {'id': programmation_circuit.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette programmation ? (id:{{ programmation_circuit.id }}, description du circuit:{{ programmation_circuit.getCircuit().description }}, date:{{ programmation_circuit.dateDepart|date("m/d/Y H:i:s") }}, nombre de personnes: {{ programmation_circuit.nombrePersonnes }}, prix: {{ programmation_circuit.prix }})');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programmation_circuit.id) }}">
    <button class="btn">Supprimer</button>
</form>
