{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="inpage-title">Index des programmations</h1>

    <table class="table">
        <thead>
            <tr class="emphase">
                <th>Id</th>
                <th>Circuit</th>
                <th>DateDepart</th>
                <th>NombrePersonnes</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programmation_circuit in programmation_circuits %}
            <tr>
                <td>{{ programmation_circuit.id }}</td>
                <td>{{ programmation_circuit.circuit.id }}</td>
                <td>{{ programmation_circuit.dateDepart ? programmation_circuit.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ programmation_circuit.nombrePersonnes }}</td>
                <td>{{ programmation_circuit.prix }}</td>
                <td>
                    <a href="{{ path('admin_programmation_circuit_show', {'id': programmation_circuit.id}) }}">Détails</a>
                    &nbsp;
                    <a href="{{ path('admin_programmation_circuit_edit', {'id': programmation_circuit.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de programmations enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_programmation_circuit_new') }}">Créer une nouvelle programmation</a>
{% endblock %}
