{% extends 'base.html.twig' %}

{% block title %}Circuit {{circuit.id}} : {{ circuit.villeDepart }} --> {{ circuit.villeArrivee }}{% endblock %}
{% block header %} <h1 class="inpage-title">Circuit {{circuit.id}} : {{ circuit.villeDepart }} --> {{ circuit.villeArrivee }}</h1>{% endblock %}

{% block main %}

{#
<table class="table">
<tbody>
<tr>
    <th>Id</th>
    <th>Description</th>
    <th>Pays départ</th>
    <th>Ville départ</th>
    <th>Ville arrivée</th>
    <th>Durée circuit</th>
    <th>Etapes</th>
    <th>Prix</th>
    <th>Nombre de personnes</th>
    <th>Date de départ</th>
</tr>
<tr>
    <td>{{ circuit.id }}</td>
    <td>{{ circuit.description }}</td>
    <td>{{ circuit.paysDepart }}</td>
    <td>{{ circuit.villeDepart }}</td>
    <td>{{ circuit.villeArrivee }}</td>
    <td>{{ circuit.dureeCircuit }}</td>
    <td>{% for etape in circuit.etapes %}
            {{ etape.numeroEtape }}.{{ etape.villeEtape }}
        {% else %}
            DIRECT
        {% endfor %}
    </td>
    <td>
        {% for programmationCircuit in circuit.programmationCircuits %}
            {{ programmationCircuit.prix }}
        {% else %}
            Y'a pas de prix, donc c'est gratuit (gros bug)
        {% endfor %}
    </td>
    <td>
        {% for programmationCircuit in circuit.programmationCircuits %}
            {{ programmationCircuit.nombrePersonnes }}
        {% else %}
            Pas prévu (gros bug)
        {% endfor %}
    </td>
    <td>
        {% for programmationCircuit in circuit.programmationCircuits %}
            {{ programmationCircuit.dateDepart|date('Y-m-d') }}
        {% else %}
            Pas de date prévue (gros bug)
        {% endfor %}
    </td>
</tr>
</tbody>
</table>
#}

<div class="form-horizontal">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Id</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.id }}</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Description</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.description }}</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Ville départ</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.villeDepart }} ({{ circuit.paysDepart }})</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Ville arrivée</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.villeArrivee }}</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Durée circuit</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.dureeCircuit }} jours</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Etapes</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">
                {% for etape in circuit.etapes %}
                    {{ etape.numeroEtape }}.{{ etape.villeEtape }} &emsp;
                {% else %}
                    DIRECT
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Circuits programmés</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">
                {% for programmationCircuit in circuit.programmationCircuits %}
                    {{ programmationCircuit.dateDepart|date('Y-m-d') }} : pour {{ programmationCircuit.nombrePersonnes }} personnes au prix ridicule de {{ programmationCircuit.prix }} €
                {% else %}
                    Pas prévu (gros bug)
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<br>
<a href="{{ path('front') }}">Retour à l'accueil</a>

{% endblock %}