{% extends 'front/front_base.html.twig' %}

{% block title %}Circuit {{circuit.id}} : {{ circuit.villeDepart }} --> {{ circuit.villeArrivee }}{% endblock %}
{% block header %} <h1 class="inpage-title">Circuit {{circuit.id}} : {{ circuit.villeDepart }} --> {{ circuit.villeArrivee }}</h1>{% endblock %}

{% block main %}

<div class="form-horizontal">

    <div style="width=100%; text-align:center; align-content:center" >
        <img style="width:853px; height:480px" src="/images/{{ circuit.id }}/main" alt="{{ circuit.villeDepart }} --> {{ circuit.villeArrivee }}"/>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Description</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.description }}</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Ville départ</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.villeDepart }} ({{ circuit.paysDepart }})</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Ville arrivée</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.villeArrivee }}</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Durée circuit</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">{{ circuit.dureeCircuit }} jours</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Etapes</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">
                {% for etape in circuit.etapes %}
                    {{ etape.numeroEtape }}.{{ etape.villeEtape }} &emsp;
                {% else %}
                    DIRECT
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label emphase">Circuits programmés</label>
        <div class="col-sm-10">
            <div class="form-control form-control-plaintext">
                {% for prog in circuit.programmationCircuit %}
                    {{ prog.dateDepart|date('Y-m-d') }} : pour {{ prog.nombrePersonnes }} personnes au prix ridicule de {{ prog.prix }} €
                    <br>
                    {% if prog.id in likes %}
                        <a href="{{ path('likes_circuit_specific', {id: prog.id}) }}">Je n'aime plus</a>
                    {% else %}
                        <a href="{{ path('likes_circuit_specific', {id: prog.id}) }}">J'aime</a>
                    {% endif %}
                    <br>
                {% else %}
                    Pas prévu (gros bug)
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<a href="{{ path('circuits') }}">Retour à l'accueil</a>

{% endblock %}