{% extends "base.html.twig" %}

{% block title %}
Hello {{ controller_name }}!
{% endblock %}

{% block body %}

    <h1 class="inpage-title">Liste des circuits</h1>

    <table class="table">
        <thead>
        <tr class="emphase">
            <th>Id</th>
            <th>Description</th>
            <th>Pays départ</th>
            <th>Ville départ</th>
            <th>Ville arrivée</th>
            <th>Durée circuit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
                <td>
                    <a href="{{ path('front_circuit_show', {id: circuit.id}) }}">Détails</a>
                    &nbsp;
                    {% if circuit.id in likes %}
                        <a href="{{ path('likes', {id: circuit.id}) }}">Je n'aime plus</a>
                    {% else %}
                        <a href="{{ path('likes', {id: circuit.id}) }}">J'aime</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no circuits found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
