{% extends "base.html.twig" %}

{% block title %}
<title>Hello {{ controller_name }}!</title>
{% endblock %}

{% block body %}
    <h1 class="inpage-title">Liste des circuits</h1>

    <table class="table">
        <thead>
        <tr>
            <th><label class="header">Id</label></th>
            <th><label class="header">Description</label></th>
            <th><label class="header">Pays départ</label></th>
            <th><label class="header">Ville départ</label></th>
            <th><label class="header">Ville arrivée</label></th>
            <th><label class="header">Durée circuit</label></th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
                <td>
                    <a href="{{ path('front_circuit_show', {id: circuit.id}) }}">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no circuits found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
