{% extends "front/front_base.html.twig" %}

{% block main %}

    <h1 class="inpage-title">Liste des circuits aimés</h1>

    <table class="table">
        <thead>
        <tr class="emphase">
            <th>Description</th>
            <th>Pays départ</th>
            <th>Ville départ</th>
            <th>Ville arrivée</th>
            <th>Durée circuit</th>
            <th>Nombre de personnes</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for prog in programmationsLikes %}
            <tr>
                <td>{{ prog.getCircuit().description }}</td>
                <td>{{ prog.getCircuit().paysDepart }}</td>
                <td>{{ prog.getCircuit().villeDepart }}</td>
                <td>{{ prog.getCircuit().villeArrivee }}</td>
                <td>{{ prog.getCircuit().dureeCircuit }}</td>
                <td>{{ prog.nombrePersonnes }}</td>
                <td>{{ prog.prix }}</td>
                <td>
                    <a href="{{ path('front_circuit_show', {id: prog.getCircuit().id}) }}">Détails du circuit</a>
                    <br>
                    {% if prog.id in likes %}
                        <a href="{{ path('likes', {id: prog.id}) }}">Je n'aime plus</a>
                    {% else %}
                        <a href="{{ path('likes', {id: prog.id}) }}">J'aime</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Pas de circuits aimés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
