<form method="post" action="{{ path('admin_etape_delete', {'id': etape.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette étape ? (id:{{ etape.id }}, circuit:{{ etape.getCircuit().id }}, ville:{{ etape.villeEtape }})');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etape.id) }}">
    <button class="btn">Supprimer</button>
</form>
