{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %}
    <h1 class="inpage-title">Etape index</h1>

    <table class="table">
        <thead>
            <tr class="emphase">
                <th>Id</th>
                <th>NumeroEtape</th>
                <th>VilleEtape</th>
                <th>NombreJours</th>
                <th>Circuits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
            <tr>
                <td>{{ etape.id }}</td>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}</td>
                <td>{{ etape.circuit }}</td>
                <td>
                    <a href="{{ path('admin_etape_show', {'id': etape.id}) }}">Show</a>
                    &nbsp;
                    <a href="{{ path('admin_etape_edit', {'id': etape.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_etape_new') }}">Create new</a>
{% endblock %}
