{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}

    {{ form_row(form.description) }}
    {{ form_row(form.paysDepart) }}
    {{ form_row(form.villeDepart) }}
    {{ form_row(form.villeArrivee) }}

<h3 class="inpage-title">Etapes :</h3>
<ul class="etapes" data-prototype="{{ form_widget(form.etapes.vars.prototype)|e('html_attr') }}">

    {% for etape in form.etapes %}
        <li>
            {{ form_row(etape.numeroEtape) }}
            {{ form_row(etape.villeEtape) }}
            {{ form_row(etape.nombreJours) }}
        </li>
        <hr>
    {% endfor %}
</ul>

<h3 class="inpage-title">Programmations :</h3>
<ul class="programmations" data-prototype="{{ form_widget(form.programmationCircuit.vars.prototype)|e('html_attr') }}">

    {% for prog in form.programmationCircuit %}
        <li>
            {{ form_row(prog.dateDepart) }}
            {{ form_row(prog.nombrePersonnes) }}
            {{ form_row(prog.prix) }}
        </li>
        <hr>
    {% endfor %}
</ul>
<button class="btn">{{ button_label|default('Enregistrer les modifications') }}</button>
{{ form_end(form) }}
